{% extends 'core/base.html' %}
{% block title %}Menu{% endblock title %}
{% load static %}

{% block content %}
{% for category in categories %}


{% endfor %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Menu & Pricing</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Products Start -->
  
    <div class="container-fluid about py-5">

        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Menu & Pricing</h2>
                <h1 class="display-4 text-uppercase">Explore Our Cakes</h1>
            </div>
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
                    {% for category in categories %}
                    
                    <li class="nav-item">
                        <a class="nav-link text-white px-3 " data-bs-toggle="pill" href="#{{category.id}}">{{category.categoryName}}</a>
                    </li>

                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for category in categories %}                    
                        <div id="{{category.id}}" class="tab-pane fade show p-0 ">
                        <h2>{{ category.categoryName }}</h2>                       
                      {% for product in products %}
                        {% if product.category == category%}
                        <div class="row g-3 mt-3">
                          <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0 ">
                                    <img class="img-fluid" src="{{product.image.url}}" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">{{product.price}}</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-center bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">{{product.productName}}</h5>
                                    <span>{{product.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                    {% endfor %}                                                 
                </div>
                  {% endfor %} 
                </div>
                </div>
                



            </div>
  
        </div>
    </div>


    <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                        <h2 class="text-primary font-secondary">Special Kombo Pack</h2>
                        <h1 class="display-4 text-uppercase text-white">Super Crispy Cakes</h1>
                    </div>
                    <p class="text-white mb-4">Eirmod sed tempor lorem ut dolores sit kasd ipsum. Dolor ea et dolore et at sea ea at dolor justo ipsum duo rebum sea. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo lorem. Elitr ut dolores magna sit. Sea dolore sed et.</p>
                    <a href="" class="btn btn-primary border-inner py-3 px-5 me-3">Shop Now</a>
                    <a href="" class="btn btn-dark border-inner py-3 px-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}