
<!--CARGA DE ARCHIVOS DE PLANTILLAS-->
{% extends 'core/base.html' %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'core/css/mdb.min.css' %}" /> {% endcomment %}
{% load custom_filters %}


{% block content %}
<div class="container py-5">
  <form class="needs-validation" method='post' >
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Producto</label>

        {{ form.productName | add_class:'form-control' }}
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Descripción</label>
        {{ form.description | add_class:'form-control' }}
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Precio</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">USD</span>
          </div>
          {{ form.price | add_class:'form-control' }}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Imagen</label>
        {{ form.image | add_class:'form-control' }}
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">Categoría</label>
        {{ form.category | add_class:'form-control' }}
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
  </form>
</div>

{% endblock content %}
{% comment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
{% endcomment %}
