{% extends 'core/base.html' %}
{{products}} 
{% load static %}

{% load custom_filters %}


{% block content %}

<h1 class='text-center'>Products in stock</h1>

{% for product in products %}

<div class="container my-5">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="imagen-{{product.id}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text">{{product.description}}</p>
          <div class="alert alert-warning" role="alert">
            Price: USD {{product.price}}
          </div>
          <p class="card-text"><small class="text-body-secondary">Last updated {{product.modifiedProduct}}</small></p>
          <a href='{% url 'delete_product' product.id %}'><button type="button" class="btn btn-outline-danger mx-2 px-5">Delete</button></a>
          <a href='{% url 'update_product' product.id %}'><button type="button" class="btn btn-outline-success ms-3 px-5 ">Update</button></a>
          <div class="alert alert-success text-center mt-2 p-1" role="alert">{{product.category}}</div>
         

        </div>
      </div>
    </div>
  </div>
</div>




{% endfor %}
{% endblock content %}

