{% extends 'core/base.html' %}
{{products}} {% load static %} {% load custom_filters %}


{% block content %}

{% for product in products %}

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p class="card-text">
        {{product.description}}
      </p>
      <p class="card-text">
        <small class="text-muted">{{product.modifiedProduct}}</small>
      </p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}